.react-aria-ComboBox {
    .react-aria-Input {
      margin: 0;
      font-size: 1.072rem;
      border: 1px solid var(--spectrum-global-color-gray-400);
      border-radius: 6px;
      padding: 0.286rem 2rem 0.286rem 0.571rem;
      vertical-align: middle;
  
      &[aria-invalid] {
        border-color: var(--spectrum-global-color-red-600);
      }
  
      &:focus {
        outline: none;
        border-color: slateblue;
        box-shadow: 0 0 0 1px slateblue;
      }
    }
  
    .react-aria-Button {
      background: slateblue;
      color: white;
      border-radius: 4px;
      border: none;
      appearance: none;
      margin-left: -1.714rem;
      width: 1.429rem;
      height: 1.429rem;
      padding: 0;
      vertical-align: middle;
      font-size: 0.857rem;
      outline: none;
    }
  
    [slot=description] {
      font-size: 12px;
    }
  
    [slot=errorMessage] {
      font-size: 12px;
      color: var(--spectrum-global-color-red-600);
    }
  }
  
  .react-aria-ListBox {
    --highlight-background: slateblue;
    --highlight-foreground: white;
    --text-color: var(--spectrum-alias-text-color);
    --text-color-disabled: var(--spectrum-alias-text-color-disabled);
  
    max-height: inherit;
    box-sizing: border-box;
    overflow: auto;
    padding: 2px;
    outline: none;
  
    .react-aria-Section:not(:first-child) {
      margin-top: 12px;
    }
  
    .react-aria-Header {
      font-size: 1.143rem;
      font-weight: bold;
      padding: 0 0.571rem 0 1.571rem;
    }
  
    .react-aria-Item {
      margin: 2px;
      padding: 0.286rem 0.571rem 0.286rem 1.571rem;
      border-radius: 6px;
      outline: none;
      cursor: default;
      color: var(--text-color);
      font-size: 1.072rem;
      position: relative;
      display: flex;
      flex-direction: column;
  
      &[aria-selected=true] {
        font-weight: 600;
  
        &::before {
          content: '✓';
          content: '✓' / '';
          alt: ' ';
          position: absolute;
          top: 4px;
          left: 4px;
        }
      }
  
      &[data-focused],
      &[data-pressed] {
        background: var(--highlight-background);
        color: var(--highlight-foreground);
      }
  
      &[aria-disabled] {
        color: var(--text-color-disabled);
      }
  
      [slot=label] {
        font-weight: bold;
      }
  
      [slot=description] {
        font-size: small;
      }
    }
  }
  
  .react-aria-Popover {
    --background-color: var(--page-background);
    --border-color: var(--spectrum-global-color-gray-400);
  
    border: 1px solid var(--border-color);
    width: var(--trigger-width);
    box-sizing: border-box;
    box-shadow: 0 8px 20px rgba(0 0 0 / 0.1);
    border-radius: 6px;
    background: var(--background-color);
    outline: none;
  }
  
  @media (forced-colors: active) {
    .react-aria-ComboBox {
      .react-aria-Button {
        background: ButtonFace;
        color: ButtonText;
        border: 1px solid ButtonBorder;
      }
    }
  
    .react-aria-ListBox {
      forced-color-adjust: none;
  
      --highlight-background: Highlight;
      --highlight-foreground: HighlightText;
      --border-color: ButtonBorder;
      --background-color: ButtonFace;
      --text-color: ButtonText;
      --text-color-disabled: GrayText;
    }
  }