.react-aria-SearchField {
    --field-border: var(--spectrum-alias-border-color);
    --field-border-disabled: var(--spectrum-alias-border-color-disabled);
    --field-background: var(--spectrum-global-color-gray-50);
    --text-color: var(--spectrum-alias-text-color);
    --text-color-disabled: var(--spectrum-alias-text-color-disabled);
    --focus-ring-color: slateblue;
    --invalid-color: var(--spectrum-global-color-red-600);
  
    display: grid;
    grid-template-areas: "label label"
                         "input button"
                         "help  help";
    grid-template-columns: 1fr auto;
    align-items: center;
    width: fit-content;
  
    .react-aria-Input {
      grid-area: input;
      padding: 0.286rem 1.714rem 0.286rem 0.286rem;
      margin: 0;
      border: 1px solid var(--field-border);
      border-radius: 6px;
      background: var(--field-background);
      font-size: 1.143rem;
  
      &::-webkit-search-cancel-button,
      &::-webkit-search-decoration {
        -webkit-appearance: none;
      }
  
      &:focus {
        outline: none;
        border-color: var(--focus-ring-color);
        box-shadow: 0 0 0 1px var(--focus-ring-color);
      }
  
      &:disabled {
        border-color: var(--field-border-disabled);
        color: var(--text-color-disabled);
      }
    }
  
    [slot=description] {
      grid-area: help;
      font-size: 12px;
    }
  
    [slot=errorMessage] {
      grid-area: help;
      font-size: 12px;
      color: var(--invalid-color);
    }
  
    .react-aria-Button {
      grid-area: button;
      width: 1.143rem;
      height: 1.143rem;
      border-radius: 1.143rem;
      margin-left: -1.429rem;
      font-size: 0.857rem;
      line-height: 0.857rem;
      vertical-align: middle;
      text-align: center;
      background: gray;
      color: white;
      border: none;
      padding: 0;
  
      &[data-pressed] {
        background: dimgray;
      }
  
      &:disabled {
        opacity: 0.4;
      }
    }
  
    &[data-empty] button {
      display: none;
    }
  }
  
  @media (forced-colors: active) {
    .react-aria-SearchField {
      --field-border: ButtonBorder;
      --field-border-disabled: GrayText;
      --field-background: Field;
      --text-color: FieldText;
      --text-color-disabled: GrayText;
      --focus-ring-color: Highlight;
      --invalid-color: LinkText;
  
      .react-aria-Button {
        &:disabled {
          opacity: 1;
        }
      }
    }
  }