.react-aria-ToggleButton {
    --deselected-border-color: var(--spectrum-global-color-gray-400);
    --deselected-border-color-pressed: var(--spectrum-global-color-gray-500);
    --deselected-background-color: var(--spectrum-global-color-gray-50);
    --deselected-background-color-pressed: var(--spectrum-global-color-gray-100);
    --selected-color: slateblue;
    --selected-color-pressed: lch(from slateblue calc(l - 10%) c h);
    --text-color: var(--spectrum-alias-text-color);
    --text-color-selected: white;
  
    color: var(--text-color);
    background: var(--deselected-background-color);
    border: 1px solid var(--deselected-border-color);
    border-radius: 4px;
    appearance: none;
    vertical-align: middle;
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
    outline: none;
    padding: 4px 12px;
  
    &[data-pressed] {
      box-shadow: inset 0 1px 2px rgb(0 0 0 / 0.1);
      background: var(--deselected-background-color-pressed);
      border-color: var(--deselected-border-color-pressed);
    }
  
    &[aria-pressed=true] {
      background: var(--selected-color);
      border-color: var(--selected-color);
      color: var(--text-color-selected);
  
      &[data-pressed] {
        background: var(--selected-color-pressed);
        border-color: var(--selected-color-pressed);
      }
    }
  
    &[data-focus-visible] {
      border-color: var(--selected-color);
      box-shadow: 0 0 0 1px var(--selected-color);
    }
  
    &:disabled {
      opacity: 0.4;
    }
  }
  
  @media (forced-colors: active) {
    .react-aria-ToggleButton {
      forced-color-adjust: none;
  
      --deselected-border-color: ButtonBorder;
      --deselected-border-color-pressed: ButtonBorder;
      --deselected-background-color: ButtonFace;
      --deselected-background-color-pressed: ButtonFace;
      --selected-color: Highlight;
      --selected-color-pressed: Highlight;
      --text-color: ButtonText;
      --text-color-selected: HighlightText;
  
      &:disabled {
        opacity: 1;
        --deselected-border-color: GrayText;
        --selected-color: GrayText;
        --text-color: GrayText;
      }
    }
  }